[submodule "ogre"]
	path = ogre
	url = https://github.com/OGRECave/ogre-next
	branch = v2-1
	ignore = dirty
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
	branch = docking
	ignore = dirty
